[Match]
Name=enp0s3

[Network]
LinkLocalAddressing=ipv6
Address=192.168.7.15/24
DNS=192.168.7.250
Domains=miguelgc.edu

[Route]
Destination=0.0.0.0/0
Gateway=192.168.7.150
Metric=100
